
@{
    ViewBag.Title = "Category";
}

<div id="bucket">

    @if (ViewBag.msg != null)
    {
        <p id="msg" style="display:none">@ViewBag.msg</p>
    }

    <br />
    <input type="button" class="btn btn-primary" onclick="AddEdit(0)" value="New Category" />
    <br />
    <br />
    @* TABLE BELLOW IS USED TO POPULATE ALL RECORD IN DB *@

    @if (ViewBag.AllCategories != null)
    {
        <div class="table-responsive">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        @*@if (User.IsInRole("Admin"))
                            {*@
                        <th>...</th>
                        @* } *@
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in ViewBag.AllCategories as List<WebUI.ViewModels.CategoryViewModel>)
                    {
                        <tr id="row_@item.Id">
                            <td>@item.Name</td>
                            <td>@item.Description</td>

                            @*@if (User.IsInRole("Admin"))
                                {*@
                            <td>
                                <a href="#" class="btn btn-danger" onclick="ConfirmDeleteRecord(@item.Id)"><span class="glyphicon glyphicon-trash"></span> </a>
                                <a href="#" class="btn btn-success" onclick="AddEdit(@item.Id)"><span class="glyphicon glyphicon-pencil"></span> </a>
                            </td>
                            @* } *@
                        </tr>
                    }
                </tbody>

            </table>

        </div>
    }



    @* MODAL BELLOW IS USED  FOR NEW/EDIT RECORD *@
    <div class="modal fade" id="AddEditModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center text-danger">
                        Add new Category
                    </h4>
                </div>
                <div class="modal-body" id="modalBody">

                </div>
                <div class="modal-footer">
                    <div style="text-align: center; display: none;" id="loaderDiv">
                        <img src="~/Images/load.gif" width="80" height="80" class="img-circle img-thumbnail" />
                    </div>
                    <a href="#" class="btn btn-danger" id="btnReset">Reset</a>
                    <a href="#" class="btn btn-primary" id="btnCancle">Cancle</a>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="DeleteModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center text-info">
                        Delete ?
                    </h4>
                </div>


                <div class="modal-body">

                    <h2 class="text-center text-danger">ARE YOU SURE YOU WANT TO DELETE RECORD <span id="deleteId"></span>?</h2>
                    <input type="hidden" id="ID" />
                    <input type="submit" id="btnDelete" onclick="DeleteRecord()" class="btn btn-danger" value="Delete" />
                </div>


            </div>


        </div>
    </div>


</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<script>
    $(document).ready(function () {

        var Smsg = $("#msg").text();
        if (Smsg != "") {
            alert(Smsg);
        }

        $("#btnReset").click(function () {
            $("#Name").val("");
            $("#Description").val("");
        })

        $("#btnCancle").click(function () {
            $("#AddEditModal").modal("hide");
        })

    })


    var AddEdit = function (id) {
        $("#loaderDiv").show();
        var url = "/Category/AddEditCategory?ID=" + id; //USED TO SEARCH ENTITY WITH ID

        $("#modalBody").load(url, function () {  // LOAD THE CONTENT FROM THE ACTION /ADDEDITRECORD
            $("#loaderDiv").hide();
            $("#AddEditModal").modal("show");
        })
    }



    var ConfirmDeleteRecord = function (id) {
        $("#ID").val(id);
        $("#DeleteModal").modal("show");
    }


    var DeleteRecord = function () {

        var Id = $("#ID").val();

        $.ajax({

            type: "POST",
            url: "/Category/DeleteCategory",
            data: { ID: Id },
            success: function (result) {
                if (result == "1") {
                    $("#row_" + Id).remove();
                    alert("Record deleted successfully!");
                    window.location.href = "/Category/Category";
                }
                else {
                    alert("Record not not deleted!");
                    window.location.href = "/Category/Category";
                }
            }
        })


    }

</script>

